.landmarkshow {
	position: relative;
}

.factslideshow {
	width: 580px;
	height: 300px;
	position: absolute;
	right: 200px;
	top: 200px;
}

.factslideshow ul li p {
	padding: 0 20px;
}

.uk-card {
	width: 580px;
	height: 300px;
}

.overlay {
	z-index: 1;
	margin: 30px;
}

.factslider {
	color: black;
}

.factnav {
	color: black;
}

.mini-map {
	width: 525px;
	height: 525px;
	position: absolute;
	z-index: 10;
	top: 11rem;
	left: 8rem;
	border: 1px solid black;
}

.landmarknav > * > * {
	/* background: rgba(255, 255, 255, 1); */
	border: 1px solid white;
}

.landmarknav > .uk-active > * {
	background-color: rgba(255, 255, 255, 0.6);
}
